/**
A custom CSS reset by Josh W. Comeau.
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
body { line-height: 1.5; -webkit-font-smoothing: antialiased; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }

body {
    background-color: black;
}

:root {
    --star-padding: -20px;
    --star-size-white: 176px;
    --star-size-yellow: 88px;
    --yellow-offset-y: calc(var(--star-size-white) * 0.387);
    --yellow-offset-x: calc(var(--star-size-white) * 0.503);

    --inner-outline: 6px;
    --frame-thickness: 48px;
}

/* YouTube video background. */
.video-background {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    position: fixed;
}

.video-decoration {
    inset: 0;
    z-index: 2;
    position: absolute;
    pointer-events: none;
}

.video-decoration::before {
    inset: 0;
    border: solid var(--frame-thickness) transparent;
    content: "";
    position: absolute;
    background: #00FFFF;

    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
}

.video-decoration::after {
    inset: var(--frame-thickness);
    border: var(--inner-outline) solid #FFFF00;
    content: "";
    position: absolute;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset;
}

.video-background iframe {
    top: 50%;
    left: 50%;
    width: 177.78vh;
    border: none;
    height: 100%;
    opacity: 0;
    position: absolute;
    animation: fadeIn 1s ease forwards;
    min-width: 100vw;
    transform: translate(-50%, -50%);
    min-height: 56.25vw;
    pointer-events: none;
    animation-delay: 5s;
}

/* Star stuff. */
.corner-star {
    inset: 0;
    z-index: 3;
    position: fixed;
    pointer-events: none;
}

.star-white {
  position: fixed;
  top: var(--star-padding);
  left: var(--star-padding);
  width: var(--star-size-white);
  height: auto;
  display: block;
  filter: drop-shadow(0 6px 18px rgba(0,0,0,0.35));
  animation: burstSpin 31s linear infinite;
  transform-origin: 50% 50%;
}

.star-white-br {
  position: fixed;
  right: var(--star-padding);
  bottom: var(--star-padding);
  width: var(--star-size-white);
  height: auto;
  display: block;
  filter: drop-shadow(0 6px 18px rgba(0,0,0,0.35));
  animation: burstSpin 31s linear infinite;
  transform-origin: 50% 50%;
}

.star-yellow {
    position: fixed;
    top: calc(var(--star-padding) + var(--yellow-offset-y));
    left: calc(var(--star-padding) + var(--yellow-offset-x));
    width: var(--star-size-yellow);
    filter: drop-shadow(0 4px 12px rgba(0,0,0,0.25));
    height: auto;
    display: block;
    animation: burstSpin 31s linear infinite 5s;
    transform-origin: 50% 50%;
}

.star-yellow-br {
  position: fixed;
  right: calc(var(--star-padding) + var(--yellow-offset-x));
  bottom: calc(var(--star-padding) + var(--yellow-offset-y));
  width: var(--star-size-yellow);
  height: auto;
  display: block;
  filter: drop-shadow(0 4px 12px rgba(0,0,0,0.25));
  animation: burstSpin 31s linear infinite 5s;
  transform-origin: 50% 50%;
}

.star-white polygon{
  fill: #ffffff;
}

.star-white-br polygon { fill: #ffffff; }

.star-yellow polygon {
  fill: #FFFF00;
}

.star-yellow-br polygon { fill: #FFFF00; }

/* CRT filter. */
.crt-overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  opacity: 1;
  background:
    repeating-linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.22) 0px,
      rgba(0, 0, 0, 0.22) 1px,
      rgba(0, 0, 0, 0.00) 2px,
      rgba(0, 0, 0, 0.00) 3px
    );
  box-shadow: inset 0 0 60px rgba(0,0,0,0.35);
  animation: crtFlicker 1.8s infinite;
  transform: translateZ(0);
}


/* Fade-in animation for YouTube video background. */
@keyframes fadeIn {
    to {
        opacity: 1.0;
    }
}

/* Burst spinning animation for star stuff. */
@keyframes burstSpin {
  0%   { transform: rotate(0deg); }
  3%   { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}

/* CRT animation. */
@keyframes crtFlicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% { opacity: 1; }
  20%, 24%, 55% { opacity: 0.94; }
}

@media (max-width: 768px) {

    /* YouTube video background. */
    .video-decoration { display: block; }
    .video-background iframe {
        display: none;
    }
}
