/**
A custom CSS reset by Josh W. Comeau.
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
body { line-height: 1.5; -webkit-font-smoothing: antialiased; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }

body {
    background-color: black;
}

/* YouTube video background. */
.video-background {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    position: fixed;
}

/* YouTube video background (overlay). */
.video-background::after {
    inset: 0;
    content: "";
    z-index: 1;
    position: absolute;
    background:
      linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, transparent 20%),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, transparent 20%),
      linear-gradient(to left, rgba(0, 0, 0, 0.9) 0%, transparent 20%),
      linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, transparent 20%);
    pointer-events: none;
}

/* YouTube video background (iframe). */
.video-background iframe {
    top: 50%;
    left: 50%;
    width: 177.78vh;
    border: none;
    height: 100%;
    opacity: 0;
    position: absolute;
    animation: fadeIn 1s ease forwards;
    min-width: 100vw;
    transform: translate(-50%, -50%);
    min-height: 56.25vw;
    pointer-events: none;
    animation-delay: 10s;
}

/* Fade-in animation for YouTube video background. */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    /* Hide YouTube video background. */
    .video-background {
        display: none;
    }
}

@media (hover: none) and (pointer: coarse) {
    /* Hide YouTube video background. */
    .video-background, .video-background::after {
        display: none;
    }
}
