/**
A custom CSS reset by Josh W. Comeau.
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
body { line-height: 1.5; -webkit-font-smoothing: antialiased; }
img, picture, video, canvas, svg { display: block; max-width: 100%; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }

body {
  min-height: 100dvh;
  background-color: white;
}

.container {
  width: 100%;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.panel {
  height: 100vh;
  display: flex;
  transition: all 0.3s ease;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

#panel-1 {
  background-color: transparent;
}

#panel-2 {
  background-color: pink;
}

@media (min-width: 768px) {
  .container {
    height: 100vh;
    overflow-y: hidden;
    flex-direction: row;
    scroll-snap-type: none;
  }

  .panel {
    width: 50%;
    height: 100vh;
    scroll-snap-type: none;
  }
}
